<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>317031727726-pgskfgq9t6tivbkqonlfodjq2fgbq028.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317031727726-pgskfgq9t6tivbkqonlfodjq2fgbq028</string>
	<key>API_KEY</key>
	<string>AIzaSyCSdMVzC53Poi11tNXcIW3HhTPCmgB_v50</string>
	<key>GCM_SENDER_ID</key>
	<string>317031727726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nxtlvl.cabyn</string>
	<key>PROJECT_ID</key>
	<string>cabyn-e2ee5</string>
	<key>STORAGE_BUCKET</key>
	<string>cabyn-e2ee5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317031727726:ios:9f3293e669e729e7</string>
	<key>DATABASE_URL</key>
	<string>https://cabyn-e2ee5.firebaseio.com</string>
</dict>
</plist>